/*  *** navbar **  */
.ESchool{
    font-size: 50px;
    color: dimgray;
}
.ESchool:hover{
    color: #4caf50;
}

header .navbar {

    margin-top: 15px ;

    margin-left: -8px;

    margin-right: -8px;
  
 }
  
   header .navbar ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;

      height: 50px; 
      background-color: #333; 
  }
  
  header .navbar li {
      float: left;
      padding:5px ; 
  }
  
  header .navbar li a {
      
      color: white;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
      font-family:  Georgia, 'Times New Roman', Times, serif,'Lucida Sans Regular' ;              
      font-size: 25px;
      
  
  }
  
  header .navbar li a:hover {
      background-color: #111;
  }

  /* END navbar */

body {
    font-size: 20;
    margin: 0
    
    
    
}
  /**** begin content ****** */ 


   .content{
            display: flex ;
            margin-top: 5% ;
        }
       /* article et aside */
        
         section {

             margin-left:5%;
                       
             height:800px;     
             
             display: flex ;
             width: 100%;

         }

         /* article */

         section article{
    
             max-width: 95% ;
         } 


         /* aside */
         
         