/* ----- chapeau -----*/

#chap {
background:#F3F2ED; 
border:4px double white;

width: 87%;

/*css3*/
border-radius:10px;
-moz-border-radius:10px;
-webkit-border-radius:10px;
box-shadow:3px 3px 6px 2px #A9A9A9;
-moz-box-shadow:3px 3px 6px 2px #A9A9A9;
-webkit-box-shadow:3px 3px 6px #A9A9A9;
}






#chapo {
background:#F3F2ED; 
border:4px double white;
padding:10px 10px 10px 10px;
width: 87%;
margin:30px 0 30px 0;
/*css3*/
border-radius:10px;
-moz-border-radius:10px;
-webkit-border-radius:10px;
box-shadow:3px 3px 6px 2px #A9A9A9;
-moz-box-shadow:3px 3px 6px 2px #A9A9A9;
-webkit-box-shadow:3px 3px 6px #A9A9A9;
}
#chapo p {
line-height:1.5em; 
text-align:justify;
}
#chapo p strong {
font-size:120%
}
#chapo p + p strong, 
#chapo p.normal strong {
font-size:100%
}
#chapo p:before, 
#accueil #home .table p:before {
content:url(images/main3.png) " ";
}
#chapo p + p:before, 
#chapo p.normal:before, 
#accueil #home .table p + p:before {
content:"";
}


a {
    color: #DF3F3F;
}


h2 {
    font-size: 160%;
    font-variant: small-caps;
    letter-spacing: 0.06em;
    color: #DF3F3F;
}





pre {
    font: 1em/1.35em 'courier new', monospace;
    padding: 5px 10px;
    margin: 30px 0;
    overflow: auto;
    color: #000000;
    background-color: #FFF3F3;
    border-left: 3px ridge #DF3F3F;
}


div.e1 {
    background-color: #F3F2ED;
    width: 600px;
    margin: auto;
    border: 3px solid #DF3F3F;
}
#edito .e1 li {
    font-family: "courier new", monospace;
    text-align: left;
    margin-left: -15px;
    list-style-image: url(images/puce-rouge.gif);
    margin-bottom: 0px;
}


li a {
    
    color: #DF3F3F;
    
}